
@import "tailwindcss";

.headerbg {
  background-image: url('../src/Image/image 1.png');
  background-size: cover;       /* <-- makes image cover entire div */
  background-repeat: no-repeat;
  background-position: center;  /* center the image */
  width: 100%;
  height: 100vh;                /* full viewport height */
}
