@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.headerbg {
  background-image: url('../src/Image/image 1.png');
  background-size: cover;       /* <-- makes image cover entire div */
  background-repeat: no-repeat;
  background-position: center;  /* center the image */
  width: 100%;
  height: 100vh;                /* full viewport height */
}

body{
  font-family: 'Lato', sans-serif;
}